<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0,user-scalable=0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="css/main.js"></script>
</head>
<body>
<!--<div>-->
<!--<tr><h1>如何查询快递信息</h1></tr>-->
<!--<tr><h2>点击分类，再点击快递查询，即可使用单号查询或扫码查询。</h2></tr>-->
<!--<tr><h1>音乐推荐，点击“飙升榜”，“TOP500”，“华语新歌”即可获得最新音乐相关排行榜</h1></tr>-->
<!--<tr><h1>会员优势</h1></tr>-->
<!--<tr><h2>下单更爽快</h2></tr>-->
<!--</div>-->

<div class="weui-media-box weui-media-box_text">
    <h4 class="weui-media-box__title">如何查询快递信息</h4>
    <p class="weui-media-box__desc">点击分类，再点击快递查询，即可使用单号查询或扫码查询</p>
</div>
<div class="weui-media-box weui-media-box_text">
    <h4 class="weui-media-box__title">音乐推荐</h4>
    <p class="weui-media-box__desc">音乐推荐，点击“飙升榜”，“TOP500”，“华语新歌”即可获得最新音乐相关排行榜</p>
</div>
<div class="weui-media-box weui-media-box_text">
    <h4 class="weui-media-box__title">会员优势</h4>
    <p class="weui-media-box__desc">下单更爽快</p>
</div>
</body>
</html>