<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
    <title>WeUI</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.css"/>

</head>
<body ontouchstart="">

<div class="weui-tab__panel">
    <div class="page_feedback">
        <a href="javascript:;" id="pickerBtn" class="weui-btn weui-btn_default">Picker</a>

    </div>
</div>

<script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.js" type="text/javascript" charset="utf-8"></script>
<!--引入微信的两个js-->
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<!--weui.min.js有版本之分，在低版本的js中有些功能不完善，在高版本会支持-->
<script src="https://res.wx.qq.com/open/libs/weuijs/1.1.4/weui.min.js"></script>


<script type="text/javascript" src="../js/city-picker.js" charset="utf-8"></script>

<script type="text/javascript">
    /* picker */
    // 普通选择器
    document.querySelector('#pickerBtn').addEventListener('click', function () {
        weui.picker([{
            label: '飞机票',
            value: 0
        }, {
            label: '火车票(disabled)',
            disabled: true,
            value: 1
        }, {
            label: '的士票(disabled)',
            disabled: true,
            value: 2
        }, {
            label: '住宿费',
            value: 3
        }, {
            label: '礼品费',
            value: 4
        }, {
            label: '活动费',
            value: 5
        }, {
            label: '通讯费',
            value: 6
        }, {
            label: '补助',
            value: 7
        }, {
            label: '通讯费',
            value: 8
        }, {
            label: '其他',
            value: 9
        }], {
            defaultValue: [8],
            className: 'custom-classname',
            onChange: function (result) {
                //console.log(item, index);
                console.log(result);
            },
            onConfirm: function (result) {
                console.log(result);
            },
            id: 'picker'
        });
    });


</script>

</body>

</html>